* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}

main {
  flex: 1;
}

main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

@media (max-width: 650px) {
  main ul {
    grid-template-columns: 1fr;
  }
}

.card-holder {
  margin: 30px;
}

.container {
  display: flex;
  justify-content: baseline;
  margin: 30px;
}
